<form action="/meals/<%= @meal.id %>/items/<%= meal_item.id %>/edit" method="post">
  <select name="food_id" id="foods">
    <% selected_food_id = selected_food_id(params[:food_id], meal_item.food_id) %>
    <% @food_options.each do |food| %>
      <option value="<%= food.id %>" <%= 'selected' if food.id == selected_food_id %>>
        <%= food.name %>
      </option>
    <% end %>
  </select>

  <input type="number" name="serving_size" id="serving_size" 
    min="1" value=<%= meal_item.serving_size %>>

  <button type="submit">Update</button>
  <a href="/meals/<%= @meal.id %>">Cancel</a>
</form>