<form action="/dashboard">
  <input type="date" name="date" value=<%= @date %>>
  <button type="submit">Confirm</button>
</form>

<a href="/meals/new">Record a Meal</a>

<div>
  <% if @meals.empty? %>
    <p>Hmm...You don't have any meals recorded for this day.</p>
  <% else %>
    <ul>
    <% @meals.each do |meal| %>
      <li>
        <a href="/meals/<%= meal.id %>">
          <%= "#{meal.memo} (#{meal.logged_at})" %>
          <%= "Calories: #{meal.calories} | Protein: #{meal.protein}"%>
          <%= meal.item_names %>
        </a>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>
