<form action="/dashboard">
  <label for="date">Pick a date:</label>
  <input type="date" name="date" id="date" value=<%= @date %>>
  <button type="submit">Confirm</button>
</form>

<a href="/meals/new">Record a Meal</a>

<a href="/foods">View Food Database</a>

<div>
  <% if @meals.empty? %>
    <p>Hmm...You don't have any meals recorded for <%= @date %>.</p>
  <% else %>
    <ul>
    <% @meals.each do |meal| %>
      <li>
        <a href="/meals/<%= meal.id %>">
          <%= "#{meal.memo} (#{format_time(meal.logged_at)})" %>
          <%= "#{format_kcal(meal.calories)} | #{format_protein(meal.protein)}"%>
          <%= "(#{meal.item_names})" %>
        </a>
      </li>
    <% end %>
    </ul>
  <% end %>
</div>
