<h3><%= @meal.memo %></h3>

<div>
  <a href="/meals/<%= @meal.id %>/edit">Edit</a>

  <form action="/meals/<%= @meal.id%>/delete" method="post">
    <button type="submit">Delete</button>
  </form>
</div>

<div>
  Logged at: <%= format_datetime(@meal.logged_at) %>
</div>

<%# Totals %>
<div>Totals: <%= format_kcal(@meal.calories) %>,
             <%= format_protein(@meal.protein) %></div>

<%# List of Meal Items %>
<%== erb :meal_item_list %>

<%# Add Meal Items %>
<%== erb :meal_item_form %>

