<ul>
  <% @meal.items.each do |meal_item| %>
    <li>
      <%# Display edit options for meal item %>
      <% if meal_item.id == @item_id %>
        <%== erb :edit_meal_item_form, locals: { meal_item: meal_item } %>
      <%# Display meal item normally %>
      <% else %>
        <%= meal_item.name %>
        (<%= format_grams(meal_item.serving_size) %>): 
        <%= format_kcal(meal_item.calories) %>, 
        <%= format_protein(meal_item.protein) %>

        <a href="/meals/<%= @meal.id %>/items/<%= meal_item.id %>/edit">Edit</a>
      <% end %>
    </li>
  <% end %>
</ul>