<h4><%= @meal.memo %></h4>
<p>Logged at: <%= @meal.logged_at %></p>

<%# Totals %>
<p>Totals: <%= @meal.calories %>, <%= @meal.protein %></p>

<%# List of Foods %>
<ul>
  <% @meal.items.each do |meal_item| %>
    <li>
      <%= meal_item.name %>(<%= meal_item.serving_size %>): 
      <%= meal_item.calories %>, <%= meal_item.protein %>
    </li>
  <% end %>
</ul>

<%# Add a food %>
<form action="/meals/<%= @meal.id %>/foods" method="post">
  <label for="foods">Add a food item:</label>

  <select name="food_id" id="foods">
    <% @food_list.each do |food| %>
      <option value="<%= food.id %>">
        <%= food.name %>
      </option>
    <% end %>
  </select>

  <label for="serving_size">Serving Size (g):</label>
  <input type="number" name="serving_size" id="serving_size" min="1">

  <button type="Submit">Add</button>
</form>
