<h3><%= @meal.memo %></h3>

<div>
  <a href="/meals/<%= @meal.id %>/edit">Edit</a>

  <form action="/meals/<%= @meal.id%>/delete" method="post">
    <button type="submit">Delete</button>
  </form>
</div>

<div>Logged at: <%= @meal.datetime %></div>

<%# Totals %>
<div>Totals: <%= @meal.calories %>, <%= @meal.protein %></div>

<%# List of Meal Items %>
<%== erb :meal_item_list %>

<%# Add Meal Items %>
<%== erb :meal_item_form %>

